/*Стиль "Презентация продукта" */
html {
    height:110%;
    overflow-x: hidden;
    overflow-y: scroll;   
 }
 
 body {
    background-attachment:scroll;
    background: linear-gradient(to bottom right, white,blue,red); 
 }
 
 h1 {
    margin-top: 10px;
    padding: 0;
    text-align: center;
    font-size: 70px;
    color:#fff;
}

a {
text-decoration: none;
color:white;    
}

iframe {
    display:block;
    margin: 0 auto;
}

div {
    margin-top: 10px;
}

input {
    color: white;
    background: linear-gradient(to bottom left,white,blue,red);
    border-radius: 10px;
    width: 100px;
    height: 50px;
}